h1{
    border: 0cap;
    color: aqua;
}
img{
    width: 200px;
    border-radius: 50%;
}
table{
    background-color:brown;
    height: 1%;
    width:100%;

}
h2 {
    background-color: #f0f8ff; /* AliceBlue or any preferred color */
    padding: 6px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
body{
    background-color: lightslategray;
}

p{
    color:yellowgreen;
    background-color:
}
div{
    background-color: turquoise;

}